<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense-Tracker</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>

<body>
  <div class="navbar">
    <ul>
      <li><a href="/"><b>{{#if isAuthenticated}}user.name{{/if}}荷包君的日常</b></a></li>
      {{#if isAuthenticated}}
      <li><a class="logoutBtn" href="/users/logout"><b>Logout</b></a></li>
      {{/if}}
    </ul>
  </div>
  {{{body}}}

</body>

</html>