<div class="container">
  <form class="dropdown" action="">
    <select name="category" id="category">
      <option value="家用開銷">家用開銷</option>
      <option value="交通">交通</option>
      <option value="休閒娛樂">休閒娛樂</option>
      <option value="餐飲">餐飲</option>
      <option value="其它">其它</option>
    </select>
  </form>
  <div class="totalAmount">
    <div class="totalText">
      <h2>總金額：</h2>
    </div>
    <div class="totalNumber">
      <h1><b>$ 25260</b></h1>
    </div>
  </div>
  <div class="info">
    <span><i class="fas fa-utensils fa-3x"></i></span>

    <div class="details">
      <h2>午餐</h2>
      <h4>2021/05/23</h4>
    </div>
    <h2 class="price">$ 60</h2>
  </div>
  <button class="addBtn"><b>新增支出</b></button>
</div>