body{
  margin:0;
  padding: 0;
}

.navbar{
  background-color: #333;
  margin-bottom:1rem;
}

ul {
  list-style: none;
  overflow: hidden;
  margin:0;
  padding: 0;
}

li{
  float: left;
}

li a{
  color: white;
  font-size: 1.2rem;
  display: block;
  text-decoration: none;
  padding: 14px 16px;
}

select.index{
  margin-top:2rem;
  font-size: 1.2rem;
  width:32rem;
  height:3rem;
  border-radius: 5px;
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  overflow:hidden;
  margin:0 auto; /*容器置中必寫這行，因為div預設是block(會佔據整行)，因此寫這行將margin上下設為0,左右平分 */
  width:32rem;
  padding:10px;
  border-radius: 10px;
}


.totalNumber h1{
  font-size: 3.5rem;
  color:rgb(250, 142, 0);
}

i{
  padding-right: 1rem;
  padding-left: 2rem;
  margin-bottom:0;
  font-size: 3.5em;
}

.info{
  display: flex;
  align-items: center;
  background-color: aliceblue;
  margin-bottom:10px;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details h2{
  font-size: 1.7rem;
  margin-top:0;
  margin-bottom: 1px;
}

.details h4{
  margin: 0;
}

.price{
  margin-left: auto;
  padding-right: 2rem;
}

.addBtn{
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  background-color:rgb(247, 163, 38);
  border:none;
  border-radius: 5px;
  padding: 10px 50px;
  margin: 0 auto;
  margin-bottom: 10rem;
  transition: 0.5s;
}

.addBtn:hover{
  cursor: pointer;
  color:black;
}

.reminder{
  display: flex;
}

#containerCreate{
  background-color: peachpuff;
  align-items: center;
}

.reminder h6{
  margin-right: 50px;
}

.formCreate div{
  margin: 2rem;
}

.indexButtons{
  display: inline;
}

.indexButtons a {
  text-decoration: none;
  color:white;
  size: 2rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: rgb(183, 192, 224);
}

.indexButtons a:hover{
  color:rgb(0, 0, 0);
}

.row{
  display: flex;
  justify-content: center;
}
