@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

body{
  margin:0;
  padding: 0;
  background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  background-size: cover;
  font-family: 'PT Sans', sans-serif;
}

.navbar{
  background-color: #333;
  margin-bottom:1rem;
}

ul {
  list-style: none;
  overflow: hidden;
  margin:0;
  padding: 0;
}

li{
  float: left;
}

li a{
  color: white;
  font-size: 1.2rem;
  display: block;
  text-decoration: none;
  padding: 14px 16px;
}

form.homepage{
  display: inline-block;
}

.selector{
  margin-top:0.5rem;
  font-size: 1.2rem;
  width:14rem;
  height:3rem;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px black solid;
}

#category{
  cursor: pointer;
}

input[type="month"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 4px;
  opacity: 0.6;
}

input[type="month"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin:0 auto; /*容器置中必寫這行，因為div預設是block(會佔據整行)，因此寫這行將margin上下設為0,左右平分 */
  width:30rem;
  padding:10px;
  border-radius: 10px;
  position: relative;
}

.form-wrapper{
  display: flex;
  justify-content: space-between;
}

.totalNumber{
  margin:0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 30rem;
  width:fit-content;
  margin-top:2rem;
  background-color: rgb(255, 167, 108);
  border-radius: 15px;
  box-shadow: 6px 6px 16px rgba(0,0,0,0.3);
}

.totalNumber h1{
  font-size: 6rem;
  padding:5px 30px;
  color:rgb(252, 246, 246);
  margin:0.5rem;
  text-shadow: 2px 2px rgba(255,255,255,0.75);
  text-align: center;
}

i{
  padding-right: 1rem;
  padding-left: 2rem;
  margin-bottom:0;
  font-size: 3.5em;
}

.fa-home{
  color: rgb(245, 128, 128);
}

.fa-shuttle-van{
  color: rgb(120, 204, 120);
}

.fa-laugh-squint{
  color: #fee140;
}

.fa-utensils{
  color: rgb(255, 163, 78);
}

.fa-pen{
  color: #2488e0;
}

.info{
  display: flex;
  align-items: center;
  /* background-color: aliceblue; */
  padding:10px 2px; 
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2.price{
  font-size: 1.8rem;
}

.details h2{
  font-size: 1.7rem;
  margin-top:0;
  margin-bottom: 1px;
}

.details h4{
  margin: 0;
}

.price{
  margin-left: auto;
  padding-right: 2rem;
}

.addBtn{
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  background-color:rgb(247, 163, 38);
  border:none;
  border-radius: 5px;
  padding: 10px 50px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 10rem;
  transition: 0.5s;
}

.addBtn:hover{
  cursor: pointer;
  color:black;
}


.reminder{
  display: flex;
  width:25rem;
}

.reminderEdit{
  display: flex;
  justify-content: center;
  width:25rem;
  color:coral;
  margin-top: 2rem;
}

.containerCreate{
  background-color: peachpuff;
  opacity: 0.8;
  align-items: center;
  margin:0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.newContainer{
  background-color: rgb(230, 116, 116);
}

.infoCreate{
  display: flex;
  justify-content: space-between;
  margin:2px;
  padding:0;
}

.infoCreate label{
  margin-left:0;
  height:20px;
  text-align: left;
}

.infoCreate input{
  font-size: 1.2rem;
  width:75%;
  height: 2rem;
  margin-left: 10px;
}

.infoCreate select{
  font-size: 1.2rem;
  width:76%;
  height: 2rem;
}

.reminder{
  font-size: 1.2rem;
  margin-top: 2rem;
  color:white;
  display: flex;
  justify-content:center;
  padding: 0;
}

.reminder h6{
  font-size: 0.5rem;
  margin-top: 2.5rem;
}

.formCreate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:0;
  margin: 0;
}

.infoCreate{
  padding: 0;
}

.formCreate div{
  margin: 2rem;
  padding: 0;
}

.formCreate label{
  font-size: 1.5rem;
  font-weight: bold;
}

.newBtn{
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(60, 127, 253);
  background-color:white;
  border-radius: 5px;
  padding: 10px 50px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: 0.5s;
  cursor: pointer;
  border:2px solid rgb(60, 127, 253);
}

.newBtn:hover{
  color:white;
  background-color:rgb(60, 127, 253);
  transition: 0.5s;
}

.indexButtons{
  position: absolute;
  right: -180px;
  display: inline;
}

.indexButtons button {
  background-color: transparent;
  text-decoration: none;
  size: 2rem;
  cursor: pointer;
  outline: none;
  padding-right:2rem;
  border:none;
}

.indexButtons i{
  color:white;
  padding:6px;
}

.indexButtons .editBtn i:hover{
  transition: 0.5s;
  color:tomato;
}

.indexButtons .delBtn i:hover{
  transition: 0.5s;
  color:rgb(0, 0, 0);
}

.row{
  display: flex;
  justify-content: center;
}

div.infoContainer :nth-child(even).info{
  background-color: #ffecad;
}

div.infoContainer :nth-child(odd).info{
  background-color: #F5F5F5;
}

.doneBtn{
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color:coral;
  border:none;
  border-radius: 5px;
  padding: 10px 50px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: 0.5s;
  cursor: pointer;
}

.doneBtn:hover{
  color:black;
  transition: 0.5s;
}

.card {
  margin:35px auto;
  width: 40vw;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: rgb(255, 251, 242);
  border: 1px solid rgb(173, 173, 173)
}

.card h1 {
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardContainer {
  padding: 2px 16px;
}

.cardContainer .inputField{
  display: block;
  width: 95%;
  height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  border-radius: 5px;
  border:1px solid #ced4da;;
}

.inputBtn{
  display: block;
  width: 95%;
  height: 2rem;
  margin-top: 2rem;
  margin-bottom: 5px;
  font-size: 1.05rem;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: rgb(255, 112, 56);
  cursor: pointer;
  border:none;
}

.inputBtn:hover{
  background-color: rgb(241, 83, 20);
  transition: 0.3s;
}

.fb{
  width: 95%;
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  color:white;
  background-color: #1877F2;
  border-radius: 5px;
  text-align: center;
  height: 1.5rem;
  width: 95%;
  cursor: pointer;
  margin-top: 2px;
  text-decoration: none;
  padding-top:3px;
  padding-bottom:3px;
}

.fb:hover{
  background-color:#0062e2;
  transition: 0.3s;
}

.remind_msg{
  text-decoration: none;
  display: inline;
  color: #2488e0;
}

.remind_msg:hover{
  color:#006ece;
}

.btnWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otherOption{
  margin-top: 0.7rem;
}

.inputBlock{
  margin-left: 0.8rem;
}